<div class="row d-flex justify-content-center align-items-center my-5 heigth">
  <div class="col-4 ">
    <div class="card p-3">
      <form [formGroup]="loginForm" class="form-group">
        <h1 class="text-center">LogIn</h1>
        <div class="mb-4">
          <input type="email" placeholder="Email" formControlName="username" class="form-control" required>
          @if ((loginForm.get('username')?.errors?.['required'] || loginForm.get('username')?.errors?.['email']) && loginForm.get('username')?.touched) {
            <div class="text-danger"> username required and is a valid email </div>
          }
        </div>
        <div>
          <input type="password" placeholder="Password" formControlName="password" class="form-control" required>
          @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) {
            <div class="text-danger"> password required </div>
          }
        </div>
        <div class="row p-3">
          @if (loginForm.valid) {
            <button type="button" (click)="submit()" class="btn btn-secondary btn-lg btn-block">Login In</button>
          }
        </div>
    </form>
    </div>
  </div>
</div>
