@if (film$ | async; as film) {
  <div class="my-5">
    <div class="row">
      <div class="col-12 col-sm-5 col-lg-4"><img src="{{film.immagine}}" alt=""></div>
      <div class="col-12 col-sm-7 col-lg-6">
        <h1 class="display-3 bold">{{film.titolo}}</h1>
        <div class="d-flex pb-3">
          <div class="px-2">{{film.durata}} min</div><span>|</span><div class="px-2">{{film.dataInizio}}</div>
        </div>
        <div>{{film.descrizione}} </div>
      </div>
      <div class="col-12 col-sm-10 col-lg-2 d-flex flex-column font-size">
        <div class="d-flex"><b>genere:</b><p class="padding">{{film.genere}}</p></div>

          <div class="d-flex"><b>regia:</b><p class="padding">{{film.regista}}</p></div>

          <div class="d-flex"><b>sala:</b><p class="padding">{{film.numeroSala}}</p></div>

      </div>
    </div>
  </div>
}
