<app-carousel></app-carousel>
<div class="mt-5">
  <h1 class="my-5 text-center">Film in Sala</h1>
  @if (films$ | async; as films) {
    <app-film-list [films]="films"></app-film-list>
  } @else {
    <dir class="row justify-content-center">
      <div class="col-1">
        <app-loading />
      </div>
    </dir>
  }
</div>
