<form [formGroup]="formFilter" >
  <div class="d-flex">

      <mat-form-field>
        <mat-label>Seleziona un range di date</mat-label>
        <mat-date-range-input
          [rangePicker]="filterPicker"
          formGroupName="daterange"
        >
          <input matStartDate placeholder="Start date" formControlName="start" #dateRangeStart>
          <input matEndDate placeholder="End date" formControlName="end" #dateRangeEnd>
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="filterPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #filterPicker></mat-date-range-picker>
      </mat-form-field>


      <button mat-button color="primary" (click)="onSubmit()" class="m-2">Applica</button>

  </div>
</form>
