.alert {
  padding: 20px;
  background-color: red;
  color: white;
}
.success {
  background-color: green !important;
}
.warning {
  background-color: orange !important;
}
.danger {
  background-color: red !important;
}
.info {
  background-color: lightblue !important;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
