@if (alert) {
<div class="alert" [ngClass]="{'success': alert.alertType == 'success','warning': alert.alertType == 'warning','danger': alert.alertType == 'danger','info': alert.alertType == 'info'}">
<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
<b>{{alert.msg}}</b>
</div>
}
