<div class="grey py-5">
  <div class="container">
    <div class="row">
      <div class="col-4 text-center d-flex flex-column">
        <a href="">lavora con noi</a>
        <a href="">FAQs</a>
        <a href="">information</a>
      </div>
      <div class="col-4 text-center d-flex flex-column">
        <a href="">content terms</a>
        <a href="">promozioni</a>
        <a href="">dove siamo</a>
      </div>
      <div class="col-4 text-center d-flex flex-column">
        <a href="">about us</a>
        <a href="">contatti</a>
        <a href="">news letter</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <fa-icon [icon]="faYoutube" size="2x" class="p-2"></fa-icon>
    <fa-icon [icon]="instagram" size="2x" class="p-2"></fa-icon>
    <fa-icon [icon]="linkedin" size="2x" class="p-2"></fa-icon>
    <fa-icon [icon]="facebook" size="2x" class="p-2"></fa-icon>
  </div>
</div>
<div class="light-grey py-3 d-flex justify-content-center align-items-center">
  <div>© 2024 The Boxoffice Company</div>
</div>
