.dark-grey {
  background-color: #222222 !important;
}

.btn-primary {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #4c4c4c;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: #4c4c4c;
  border: 2px solid #222222;
}

