<nav class="navbar navbar-expand-lg navbar-dark dark-grey sticky-top">
  <a class="navbar-brand p-3" routerLink="/film"><h2>CineMille</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>Navbar
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav px-3">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/film" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Prenotazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">prossimamente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">info</a>
      </li>
      @if (isAuthentecated()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">storico</a>
        </li>
      }
      @if (!isAuthentecated()) {
        <button type="button" class="btn btn-primary" (click)="btnClick()"> <fa-icon [icon]="user"  class="p-2"></fa-icon>Login</button>
      }@else {
        <button type="button" class="btn btn-primary" (click)="logout()"> <fa-icon [icon]="user"  class="p-2"></fa-icon>Logout</button>
      }
    </ul>
  </div>
</nav>
