<app-alert-container [alert]="alert"></app-alert-container>
<app-header [isAuthentecated]="isAuthenticated"></app-header>
<div class="container">

  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
