<div class="cards">
  @for (film of films(); track film.id) {
    <div class="card"><app-film-card [film]="film"></app-film-card></div>
  }
</div>
@if(films().length == 0){
  <div class="text-center"><h2>Nessun film presente</h2></div>
}
