.card {
  border: none !important;
  border-radius: 4px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); row-gap: 60px; }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
