
  <div class="container py-5">
    <app-filtro [data]="films" (listaFiltrataEvent)="updateFilteredMovies($event)"></app-filtro>
    @if (isLoading) {
      <dir class="row justify-content-center">
        <div class="col-1">
          <app-loading />
        </div>
      </dir>
    } @else {
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titolo</th>
            <th scope="col">Genere</th>
            <th scope="col">Durata</th>
            <th scope="col">Data Inizio</th>
            <th scope="col">Data Fine</th>
            <th scope="col">Numero Sala</th>
          </tr>
        </thead>
        <tbody>
          @for (film of filteredList; track film.id) {
            <tr>
              <th scope="row">{{film.id}}</th>
              <td>{{film.titolo}}</td>
              <td>{{film.genere}}</td>
              <td>{{film.durata}} min</td>
              <td>{{film.dataInizio}}</td>
              <td>{{film.dataFine}}</td>
              <td>{{film.numeroSala}}</td>

            </tr>
          } @empty {
            <div> Non ci sono film nello storico</div>
          }
        </tbody>
      </table>
    }
  </div>

